* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
body{
    background-color: #012f5a;
    position: relative;
    width: 100%;
    height: 100%;
    font-family:Garamond;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    line-height: 1;
}
.glow{
    width: 900px;
    height: 650px;
    box-shadow: 0 0 60px 30px #fff, /* inner white */ 0 0 100px 60px #fff, /* middle white */ 0 0 140px 90px #2474a1;
    position: absolute;
    z-index: -1;
    transform: translateX(170px);
}
h1{
    font-size: 25px;
}
header{
margin-left: 11%;
    width: 968px;
    background-color: #111213;
    text-align: center;
}
ul {
    list-style: none outside;
}
nav{
    transform: translateY(-78px);
text-align: right;
}
nav ul {
    margin-top: 3.4em;
    margin-left:  -29.1em;
    list-style: none;
}


nav li {
    display: inline-block;
    margin-bottom: 8px;
}

nav li a {
    text-decoration: none;
    text-decoration: none;
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 12px;
    padding: 0.5em;
}
header img{
    margin-top: 2em;
}
.search-panel {
    transform: translateY(-50px);
    margin-top: 1.1em;
    margin-left: 24em;
}

.search-panel label {
    background-color: #212121;
    border: 2px solid #666;
    border-radius: 25px;
    height: 50px;
    font-size: 1.5rem;
    padding: 10px;
}

.search-panel input {
    box-shadow: 0 0 20px #ffffff;
    background-color: #FFFFFF;
    border-radius: 20px;
    line-height:20px;
    color: black;
    outline: none;
}
#search-input{
    text-align: center;
}

.search-panel svg{
    font-size: 2.2rem;
    color: #666;
    position: relative;
    top: 4px;
    left: 29px;
}
header div{
    display:inline-block;
}
.slider-container {
    position: relative;
    transform: translateY(-80px);
}
ul.css-slider {
    width: 968px;
    height: 390px;
    padding: 0;
    margin: 20px auto;
    overflow: hidden;
    position: relative
}
ul.css-slider img {
    display: block;
    width: 100%;
}

ul.css-slider li {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition-property: opacity
}

ul.css-slider li img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

ul.css-slider li:before {

    background: black;
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    width: 150px;
    padding: 10px;
    text-align: right;
    z-index: 10000;
}

.slider-container:hover .controls {
    display: block
}

.controls {
    text-align: center;
    font-size: 30px;
    position: absolute;
    padding: 15px 0;
    left: 0;
    bottom: 0px;
    width: 100%;
    display: none;
    color: rgba(255, 255, 255, 0.9);
    text-shadow: 0 0 5px rgba(0, 0, 0, .5);
}

.controls > div {
    width: 32%;
    float: left
}

.controls > div:hover {
    cursor: pointer
}

.controls > div:nth-child(2n) {
    margin: 0 2%
}

#pause-play[data-state="play"] .fa.fa-play {
    display: none
}

#pause-play[data-state="pause"] .fa.fa-pause {
    display: none
}
.back_bar{
    display: inline-flex;
}
.back_bar p{
    margin-left: -70px;
    color: #a3a3a3;
    font-size: 30px;
    transform: translateX(80px);

}
.back_bar ul{
    margin-left: 190px;
    transform: translateY(-22px);
}
.back_bar ul li{
    display: inline-block;
}
.container{
    margin-left: 11%;
    background-color: #FFFFFF;
    width: 968px;
    height: 100%;
    -webkit-box-shadow: 0px 10px 23px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 23px -2px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 23px -2px rgba(0,0,0,0.75);
}
.container .glow{
    width: 832px;
    height: 1690px;
    box-shadow: 0 0 60px 30px #fff, /* inner white */ 0 0 100px 60px #fff, /* middle white */ 0 0 140px 90px #2474a1;
    position: absolute;
    z-index: -1;
    transform: translateX(70px);
}
.container img{
    float: left;
}
.sidebar_wrapper{
    overflow: hidden;
    position: relative;
    width: 100%;
}
.sidebar{
    background: -moz-linear-gradient(90deg, rgba(231,231,231,0) 0%, rgba(235,235,235,0.31) 31%, rgba(231,231,231,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(231,231,231,1)), color-stop(69%, rgba(235,235,235,0.31)), color-stop(100%, rgba(231,231,231,0))); /* safari4+,chrome */
    background: -webkit-linear-gradient(90deg, rgba(231,231,231,0) 0%, rgba(235,235,235,0.31) 31%, rgba(231,231,231,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(90deg, rgba(231,231,231,0) 0%, rgba(235,235,235,0.31) 31%, rgba(231,231,231,1) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(90deg, rgba(231,231,231,0) 0%, rgba(235,235,235,0.31) 31%, rgba(231,231,231,1) 100%); /* ie10+ */
    background: linear-gradient(0deg, rgba(231,231,231,0) 0%, rgba(235,235,235,0.31) 31%, rgba(231,231,231,1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e7e7e7', endColorstr='#e7e7e7',GradientType=0 ); /* ie6-9 */
    bottom: 0;
    height: 100%;
    padding-top: 50px;
    position: absolute;
    left: 74%;
    width: 26%;
    color: #000;
}
.sidebar h1{
    padding: 15px;
}
.sidebar h2{
    font-size: 13px;
    text-transform: uppercase;
    padding: 15px;
}
.sidebar p{
    padding: 15px;
}
.sidebar div{
    padding: 30px 0 30px 10px;
}
.sidebar a{
    text-decoration: none;
    color: #2c83b0;
    padding: 15px;
}
.sidebar ul{
    font-size: 13px;
    padding: 15px;
}
.content {
    display: block;
}
.content p{
    font-size: 13px;
    padding-bottom: 20px;
    padding-top: 20px;

}
.content div{

    padding: 20px 30px 30px 30px;
}
.content img{
    margin-top: 20px;
    border: solid 5px #e9e9e9;
float: left;
}
.content .text{
    width: 400px;
    padding-left: 190px;
    border-bottom: solid 1px #f0f0f0;
}
.text span{
    font-size: 10px;
    color: #2c83b0;
}
.button {
    -webkit-box-shadow: -1px 4px 5px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 4px 5px -4px rgba(0,0,0,0.75);
    box-shadow: -1px 4px 5px -4px rgba(0,0,0,0.75);
    background: #2c83b0;
    border: none;
    border-radius: 2px;
    color: white;
    padding: 7px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 11px;
    margin: 4px 2px;
    cursor: pointer;
}
.paginate {
    display: block;
    width: 100%;
    font-size: 1.2em;
    padding-left: 30px;
    padding-bottom: 30px;
}
.paginate.pag1 li {
    font-weight: bold;
}

.paginate.pag1 li a {
    display: block;
    float: left;
    color: #9d9a9a;
    background: #eeeeee;
    text-decoration: none;
    padding: 5px 10px;
    margin-right: 6px;
}
.paginate.pag1 li a:hover {
    background: #eee;
    color: #555;
}
.paginate.pag1 li a:active {
    -webkit-box-shadow: inset -1px 2px 5px rgba(0,0,0,0.25);
    -moz-box-shadow: inset -1px 2px 5px rgba(0,0,0,0.25);
    box-shadow: inset -1px 2px 5px rgba(0,0,0,0.25);
}

.paginate.pag1 li.current {
    background-color: #9d9a9a;
    display: block;
    float: left;
    padding: 5px 10px;
    margin-right: 6px;
    color: #FFFFFF;
}
.paginate.pag1 li.single {
    background-color: #eeeeee;
    display: block;
    float: left;
    padding: 5px 10px;
    margin-right: 6px;
    color: #9d9a9a;
}

.sponsors{
    height: 450px;
    padding: 40px 30px 30px 30px;
}
.sponsors ul{
    padding-top: 30px;
}
#list_of_sponsors img{
    margin: 5px;
    border: solid 5px #e9e9e9;
}
footer{
    height: 420px;
    background-color: #0f0f0f;
    color: #6f6e6e;
}
footer div{
    padding: 20px 30px 30px 30px;
    width: 27.1%;
   float: left;
    padding-bottom: 150px;
}
footer h1{
    color: white;
    padding-top: 30px;
    padding-bottom: 30px;
}
.contact ul{
    padding-top: 30px;
}
.lighter_color{
    color: #a3a3a3;
}
footer p{
    font-size: 13px;
    padding-bottom: 20px;
    padding-top: 20px;
}